elpa
var/
/etc/rime-config/build/
/etc/rime-config/luna_pinyin.userdb/
/etc/rime-config/user.yaml
/etc/rime-config/installation.yaml
/etc/custom.el
/etc/eshell/
/server/
/lisp/init-private-config/
/tree-sitter/
