elpa
\.*
!.gitignore
!.gitmodules
history
places
recentf
amx-items
company-*
persp*
projectile*
transient
rime-config/build
rime-config/*userdb*
rime-config/user.yaml
rime-config/installation.yaml
eln-cache
eshell
url
org-clock-save.el
*.html
tramp
site-lisp
*~
projects
pyim/
server/
/quelpa/
/undohist/
